/* main structure */

body {
    background-color: burlywood;
    font-family: verdana, helvetica, arial;
    font-size: 14px;
    margin: 0;
    padding: 0;
    max-width: 1400px;
}

button {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #121212;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
}

button:hover {
    opacity: 1;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #7a00ff, #ff0000);
}


/* header */

header {
    background: #111;
    overflow: hidden;
}

.right {
    float: right;
}

#logo {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    float: left;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    margin-left: 25%;
}

.topic {
    width: 130px;
    height: 30px;
    border: 1px solid #999;
    font-size: 18px;
    color: #1c87c9;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
}


/* Form style */

.form_popup {
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    text-align: center;
}

.container {
    max-width: 400px;
    padding: 10px;
    background-color: white;
}


/* input fields */

.container input {
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    width: 300px;
    background: #f1f1f1;
}


/* When the inputs get focus */

.container input:focus {
    background-color: #ddd;
    outline: none;
}


/* main */

main {
    text-align: center;
    width: 1300px;
    /*ch*/
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}


/* questions display*/

div.question {
    /* margin-bottom: 15px;*/
    padding: 10px;
    border: 5px solid rgb(231, 10, 58);
    float: left;
    width: 600px;
    height: 350px;
    overflow: auto;
    /*min-height: 68px;*/
}

.show {
    margin-bottom: 15px;
    margin-left: 25%;
    padding: 10px;
    border: 5px solid rgb(231, 10, 58);
    max-width: 600px;
}

.ans {
    border: 5px solid rgb(15, 15, 15);
}

.hidden {
    display: none;
}

.newanswer {
    border: 5px solid rgb(56, 83, 77);
}

.answer {
    margin-bottom: 15px;
    font-weight: bold;
}

div.user {
    color: rgb(43, 43, 156);
    margin-bottom: 5px;
}

.content {
    color: var(--highlight-color);
    background-color: lightgrey;
    margin-left: 30px;
    font-style: italic;
    padding: 12px;
    width: 300px;
    height: 100px;
    overflow: auto;
    font-size: 13px;
    line-height: 1.30769231;
    border-radius: 5px;
    resize: none;
}

.actions {
    position: sticky;
    margin-top: 30px;
}

.action {
    position: relative;
    display: inline-block;
    background-color: transparent;
    padding: .8em;
    border: 1px solid transparent;
    border-radius: 3px;
    line-height: 1.15384615;
    text-align: center;
    cursor: pointer;
}


/* Screen fit */

@media screen and (max-width: 768px) {
    html,
    body {
        width: 100%;
    }
}